.all-sections {
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: space-between;
    align-self: baseline;
    }
  
 .ingredients, .time, .preparation {
    display: flex;
    border-style: groove;
    background-color: rgba(255, 255, 255, 0.493);
  }

  .ingredients { 
      flex:auto;
      flex-flow: column wrap;
      justify-content: flex-start;
      border-color: greenyellow;
      padding: 0 54.8vw 1vw 0;
      margin-right: 5vw;
      margin-top: 1vw;
    }

    span {
      margin-left: 10px;
    }

    .time {
      justify-content: flex-end;
      flex-flow: column;
      margin-bottom: 5%;
      padding: 25px;
      border-radius: 20px;
      text-align: center;
      border-color: pink;
    }
    
    .preparation {
      justify-content: flex-start;
      flex-flow: column;
      border-color: purple;
    }
  