@import 'all-sections.scss';
@import 'list-style.scss';


* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  background-image: url(https://media.istockphoto.com/vectors/kitchen-seamless-pattern-vector-background-vector-id475511846?k=20&m=475511846&s=612x612&w=0&h=h9lLBXEbEiTFVn7ZXyFtIJBFZXrpiXM8MBALubJndNM=);

}
body {
    margin:50px 50px 0 50px;
}

.title {
  text-align: center;
    color: green;
    text-shadow: black 0.1em 0.1em  0.2em;
    -webkit-text-stroke: 2px black;
    font-size: 50px;
}

.image {
  display: flex;
  justify-content: center;
}


img {
  width: 300vh;
  height: 60vh;
  position: center;
  margin-bottom: 20px;
  border-radius: 30px;
}

h2{
  color: green;
  font-size: 25px;
  -webkit-text-stroke: 2px black;
  }
  
.ingredients-title, .preparation-title {
  margin: 10px;
}

footer {
    background-color: greenyellow;
    text-align: center;
    border-style: dashed;
    margin-top: 20px;
    font-size: 20px;
    margin: 20px 0 0 0;
  }